{% extends 'base.html' %}
{% load cache %}
{% block title %}
  <title>Избранные авторы</title>
{% endblock %}
{% block content %}
  <h1>Избранные авторы</h1>
  {% include 'includes/switcher.html' %}
  {% cache 20 index_page1 %}
  {% for post in page_obj %}
    {% include 'includes/article.html' %}
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи сообщества</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
  {% endcache %} 
{% endblock %} 